body {
    padding: clamp(1rem, 5vw, 2rem) clamp(1rem, 5vw, 5rem);

    background-color: rgba(0, 0, 0, 0.912);
    color: rgba(255, 255, 255, 0.661);
    font-family: monospace;
    font-size: 2rem;
}

.controller-one,
.controller-two,
.controller-three {
    width: fit-content;
    background-color: rgba(29, 28, 28, 0.999);


    display: flex;
    white-space: nowrap;
    font-size: clamp(.6rem, .9vw, .75rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.controller-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: .8rem;
}

.controller-icon-active {
    color: rgba(255, 174, 0, 0.973);

    padding: .8rem;
    border: none;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: inherit;
}

.controller-icon {
    font-size: inherit;
    color: rgba(255, 255, 255, 0.253);
    padding: .8rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;

}

.controller-icon-active:hover {
    color: white;
}

.controller-icon-active:active {
    color: rgba(255, 255, 255, 0.661);
}

.controller-icon:hover {
    cursor: pointer;
    color: white;
}

.controller-icon:active {
    color: rgba(255, 255, 255, 0.661);
}

.container {
    margin: 2rem auto auto auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
    height: 10rem;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    font-size: 1rem;
    color: rgba(255, 255, 255, 0.253);
    font-weight: bold;
}

.result-container {
    display: none;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 7rem;
}

.word {
    display: flex;
    line-height: 1;
    height: fit-content;
}

.correct {
    color: white;
    transition: color .1s ease-out;
}

.incorrect {
    color: rgba(255, 0, 0, 0.722);
    transition: color .1s ease-out;
}

letter {
    color: rgba(255, 255, 255, 0.253);


    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.7rem;

}

.error-type {
    border-bottom: .1rem solid rgba(255, 0, 0, 0.655);

}

.caret {
    position: absolute;
    width: 2px;
    height: 1.2em;
    background-color: rgba(255, 174, 0, 0.973);
    transition: left 0.1s ease-out, top 0.1s ease-out;
}

.main-container {
    max-width: 96rem;

    margin: auto;
}

.wpm {
    display: flex;
    gap: 1rem;
    font-size: 2rem;

}

.language,
.wpm-value {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.253);
    padding: .8rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-size: 1rem;

}

.language:hover {
    color: white;
    cursor: pointer;
}

.wpm-value:hover {
    color: white;
    cursor: pointer;
}

.timer-countdown {
    color: rgba(255, 174, 0, 0.973);
    cursor: default;
    visibility: hidden;
    font-size: 1.5rem;

}

.wpm-result {
    display: flex;
    flex-direction: column;
}

.accuaracy-result {
    display: flex;
    flex-direction: column;
}

.tag {
    font-size: 1.5rem;
    text-align: center;
}

.value {
    font-size: 3.5rem;
    color: rgba(255, 174, 0, 0.973);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-top: 3rem;
}


.next:hover,
.restart:hover {
    color: white;
    cursor: pointer;
}

.live-wpm-count {
    display: none;
    justify-content: center;
    margin-top: clamp(2rem, 5vw, 5rem);
    font-size: 10rem;
    color: rgba(255, 174, 0, 0.973);
    font-family: monospace;
}

.brand-logo {
    display: inline-flex;
    border-radius: 1rem;
    padding: .5rem;
    padding-top: .3rem;
    padding-bottom: .3rem;

    color: rgba(255, 255, 255, 0.661);
    text-decoration: none;

    gap: 1rem;
    width: fit-content;
    align-items: center;
}

.brand-name {
    display: flex;

}

.type {
    color: rgba(255, 174, 0, 0.973);
}

button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
    outline: 2px solid rgb(163, 162, 162);
    border-radius: .5rem;
}

button {
    font-size: inherit;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.253);

    border-radius: 1rem;
}

.fs-2 {
    font-size: 2rem;
}

.setting-controller {
    display: none;
    letter-spacing: .1rem;
}

@media (max-width: 850px) {
    .controller-container {
        display: none;
    }

    .setting-controller {

        display: flex;
        justify-content: center;
        width: fit-content;
        align-items: center;
        margin: 2rem auto clamp(2rem, 5vw, 5rem);

        padding: .75rem 1rem;
        border-radius: .8rem;
        font-size: 1rem;

        background-color: rgba(29, 28, 28, 0.999);
    }
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 5rem 2rem 5rem 2rem;
    background-color: rgb(18, 18, 18);
    border: 3px solid rgba(31, 30, 30, 0.904);
    padding: 2rem;
    max-width: 400px;
    width: 90vh;
    border-radius: .5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    & .controller-one {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        font-size: inherit;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);

        & button {
            padding: .8rem;
        }
    }

    & .controller-two {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        font-size: inherit;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);

        & button {
            padding: .8rem;
        }

    }

    & .controller-three {
        display: flex;
        gap: .5rem;
        flex-direction: column;
        font-size: inherit;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);

        & button {
            padding: .8rem;
        }
    }

    & .controller-icon {
        display: flex;
        justify-content: center;
        width: 100%;
        color: white;
        background-color: rgba(46, 45, 45, 0.211);

        &:hover {
            background-color: white;
            color: black;
        }

        &:active {
            background-color: gray;
        }
    }

    & .controller-icon-active {
        display: flex;
        justify-content: center;
        color: black;
        background-color: rgba(255, 174, 0, 0.93);
        width: 100%;

        &:hover {
            background-color: white;
            color: black;
        }

        &:active {
            background-color: gray;
        }
    }
}